.row {
  color: white;
  margin-left: 20px;
  margin-bottom: 15px;
}
.row_posters {
  display: flex;
  
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  cursor: pointer;
  max-height: 150px;
  margin-right: 12px;
  object-fit: contain;
  width: 100%;
  border-radius: 3px;
  transition: transform ease-in-out 0.3s;
}

.row_poster:hover {
  transform: scale(1.04);
  opacity: 1;
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.info__overlay {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
  overflow: scroll;
}

.info__overlay--contentBox {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 85rem;
  height: auto;
  min-height: 50rem;
  border-radius: 1rem;
  overflow: none;
  background-color: #111;
}

.info__overlay--videoBox {
  width: 100%;
  height: 100%;
  position: relative;
}


.info__overlay--youtube {
  width: 100%;
  height: 30rem;
}

.info__button {
  background-color: rgba(100, 100, 100, 0.5);
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  font-size: 2rem;
  border: none;
  padding: 1.5rem 3rem;
  min-width: 10rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.1s;
  cursor: pointer;
}

.info__overlay--btnClose {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin-top: 1.5rem;
  z-index: 50;
  cursor: pointer;
}

.icon-white {
  color: white;
}

.icon-black {
  color: #111;
}

.icon-black-opacity {
  color: rgba(32, 32, 32, 0.6);
}

.info__icon:hover > .icon-black-opacity {
  color: rgba(32, 32, 32, 1);
}
.info__overlay::-webkit-scrollbar {
  display: none;
}
.error {
  color: #fff;
  position: fixed;
  padding: 2rem;
  top: 10rem;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  border: 1px solid rgba(80, 80, 80, 0.2);
  border-top: 2px solid #fff;
  background-color: rgba(10, 10, 10, 0.9);
}

.error__heading {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.error__description {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
}

.fade-in {
  animation: fadeIn ease 0.5s;
}

.fade-out {
  animation: fadeOut ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
