.Modal {
  position: fixed;
  z-index: 500;
  border-radius: 3px;
  background-color: black;
  width: 89%;
  height: 300px;
  padding: 2px;
  top: 10%;
  left: 7%;
  transition: all 0.35s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    width: 600px;
    height: 600px;
    left: calc(50% - 250px);
    top: 20%;
  }
}
